@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */

    /* Primary */
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    /* Neutral */
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);

    /* Fonts */
    --font-size: 16px;
    --font-family: 'Karla', sans-serif;
    --font-wght-400: 400;
    --font-wght-700: 700;
}

body{
    font-family: var(--font-family);
    background-color: var( --Light-Gray);
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    margin-top: 10%;
    max-width: 650px;
    border-radius: 10px;
}

.section:nth-of-type(1) {
    grid-column: 1 / 3;
    background-color: white;
    padding: 45px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.section h1{
    font-size: 30px;
    font-weight: var(--font-wght-700);
    color: var(--Cyan);
    padding-bottom: 5px;
}
.first h3{
    padding: 10px 0;
    color: var(--Bright-Yellow);
}
.first p{
    color: var(--Grayish-Blue);
}
.section:nth-of-type(2){
    padding: 40px;
    background-color: var(--Cyan);
    border-bottom-left-radius: 10px;
}

.second h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: var(--font-wght-700);
    color: white;
}
.second p{
    font-size: 15px;
    color: var(--Light-Gray);
}
.price-data{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.price p{
    color: white;
    font-size: 30px;
    font-weight: var(--font-wght-700);
}
.data p{
    margin-left: 10px;
    font-size: 15px;
    font-weight: var(--font-wght-400);
    color: var(--Light-Gray);
}
.section:nth-of-type(3){
    padding: 40px;
    background-color: rgb(74,190,189);
    border-bottom-right-radius: 10px;
}

.third h3{
    font-size: 20px;
    font-weight: var(--font-wght-700);
    color: white;
    margin-bottom: 25px;
}
.third p{
    padding-right: 65px;
    font-size: 15px;
    font-weight: var(--font-wght-400);
    color: var(--Light-Gray);
    line-height: 1.5;
}

.btn{
    margin-top: 35px;
    padding: 10px 5px;
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: var(--Bright-Yellow);
    border-radius: 5px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(max-width: 480px){
    .container{
        max-width: 350px;
        grid-template-columns: 1fr;
    }
    .section:nth-of-type(1) {
        grid-column: 1 / 1;
    }
    .section h1{
        font-size: 20px;
    }
    .first h3{
        font-size: 15px;

    }
    .first p{
        line-height: 1.5;
    }
    .section:nth-of-type(2){
        border-bottom-left-radius: 0px;
    }
    .section:nth-of-type(3){
        border-bottom-left-radius: 10px;
    }
}